__pycache__/

Exercises/1.11/spring-example-project
Exercises/1.12/example-frontend
Exercises/1.13/example-backend
Exercises/1.14/backend/example-backend
Exercises/1.14/frontend/example-frontend
Exercises/1.15/project/env
Exercises/2.03/backend/example-backend
Exercises/2.03/frontend/example-frontend
Exercises/2.04/backend/example-backend
Exercises/2.04/frontend/example-frontend
Exercises/2.05/scaling-exercise
Exercises/2.06/backend/example-backend
Exercises/2.06/frontend/example-frontend
Exercises/2.07/backend/example-backend
Exercises/2.07/frontend/example-frontend
Exercises/2.07/database
Exercises/2.08/backend/example-backend
Exercises/2.08/frontend/example-frontend
Exercises/2.09/backend/example-backend
Exercises/2.09/frontend/example-frontend
Exercises/2.10/backend/example-backend
Exercises/2.10/frontend/example-frontend
Exercises/3.05/backend/example-backend
Exercises/3.05/frontend/example-frontend
Exercises/3.06/backend/example-backend
Exercises/3.06/frontend/example-frontend
Exercises/3.07/backend/example-backend
Exercises/3.07/frontend/example-frontend
Exercises/3.08/frontend/example-frontend