__pycache__/

Exercises/1.11/spring-example-project
Exercises/1.12/example-frontend
Exercises/1.13/example-backend
Exercises/1.14/backend/example-backend
Exercises/1.14/frontend/example-frontend
Exercises/1.15/project/env
Exercises/2.03/backend/example-backend
Exercises/2.03/frontend/example-frontend